# Wymagane pakiety do pobrania i rozpakowania archiwów (zip, tar*, 7z)
requests>=2.0.0
tqdm>=4.0.0
py7zr>=0.18.0
beautifulsoup4>=4.11.0
lxml>=4.9.0

# Pakiety do przetwarzania obrazów i uczenia maszynowego
opencv-python>=4.0.0
scikit-learn>=1.0.0
scikit-image>=0.19.0
matplotlib>=3.0.0
